

/* test styles */
table.its thead tr {
  background-color: #69c;
}
table.its tr.even {
  background-color: #def;
}

table.mars thead tr {
  background-color: #9c9;
}
table.mars tr.even {
  background-color: #ccb;
}
table.mars tr.odd {
  background-color: #eec;
}
.styleBox{
	background-color:#eee;
	color: black;

	 
	}

table.simple thead tr {
  background-color: #eee;
}
table.simple tr.even{


}
table.simple tr:hover{
  background-color: #FFFF8A; 

}
table.simple tr.even:hover{
  background-color: #FFFF8A; 

}
table.simple tr.odd:hover{
  background-color: #FFFF8A; 

}


table.simple {
	border: 1px solid #ccc;
	border-collapse: collapse;
}
table.simple td,table.simple th{
	border: 1px solid #ccc;
}

table.nocol tbody td,table.nocol tbody th{
	border-left: none;
	border-right: none;
}

table.calib thead tr {
  background-color: #e6e6ff;
}

.highlight {
  background-color: #eeeeee;
}
table.calib tr.even {
  background-color: #dfdfff;
}
table.calib {
	border: 1px solid #e6e6ff;
	border-collapse: collapse;
}
table.calib td,table.calib th{
	border: 1px solid #e6e6ff;
}
table.calib td.textRed {color: #b11;}
th.sortedCalib {
    background-color: #8080ff;
}
span.pagebannerCalib {
	background-color: white;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	margin-top: 10px;
	display:block;
	border-bottom: none;
}
span.pagelinksCalib {
	background-color: white;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 79%;
	display:block;
	border-top: none;
	margin-bottom: -5px;
}
div.exportlinksCalib {
	background-color: white;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: -10px 0 10px 0;
	width: 79%;
}

table.report td, table.report th{
	font:         menu;
}
table.report th{
	background:   buttonface;
	border-width: 1px;
	border-style: solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	cursor:       hand;
}
table.report idcol {
	background: buttonface;
}

table.report tr.even{
	background-color: #399;
}
table.report tbody {
	height: 100px;
	overflow: auto;
}

table.report {
	height: 120px;
	overflow: auto;
}

table.report tbody tr{
	height: 10px;
}





table.mark td.tableCellError {
	background-color: #d00;
	color: #fff;
}

table.sublist {
	margin: 0 0 0 0;
	width: 100%;
}
table.sublist td, table.sublist th {
	width: 50%;
}

div.exportlinks {
	text-align:left;
	

	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: -10px 0 10px 0;
	width: 70%;
}

span.export {
	padding: 0 4px 1px 20px;
	display:inline; display:inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../img/ico_file_excel.png);
}
span.csv {
	background-image: url(../img/ico_file_csv.png);
}
span.xml {
	background-image: url(../img/ico_file_xml.png);
}

span.pagebanner {
	
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 70%;
	margin-top: 10px;
	display:block;
	border-bottom: none;
}

span.pagelinks {
	
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 70%;
	display:block;
	border-top: none;
	margin-bottom: 5px;
}

table.simple td.textRed {color: #b11;}
